.badge-pill{
  width: 100px;
  height: 40px;
  border: #33C2BC 2px solid;
  margin: 5px;
}

.activity-input{
  width: 80% !important;
  margin-right: 20px;
}

.no-wrap{
  display: flex;
  flex-wrap: nowrap;
}

.let-there-be-overflow{
  padding-bottom: 50px;
  overflow: scroll;
}

.circle-button{
  border-radius: 19px !important;
  height: 38px;
  width: 38px;
}

.circle-button svg{
  margin-left: -5px;
}

.pills{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
}

.badge-pill p {
  margin-top: 8px;
}

select{
  -webkit-appearance:none;
    appearance:none;
      -moz-appearance:none;
}
.sorting{
    border:none;
    clear:both;
  background:#FFF;
  height: 40px;
}
.sorting h4{
    margin:0;
}
.sort{
  position:relative;
  float:left;
}
.sort>label{
    font-weight:normal !important
}
.sort span.pointer{
    height:50px;
    width:65px;
    background-color: #0275D8;
    border-left:1px solid #ddd;
    position:absolute;
    border-top-right-radius: 2.5rem;
    border-bottom-right-radius: 2.5rem;
    right:0;
    top:0;
    text-align:center;
    color:white;
    font-size:20px;
    z-index:1;
}
.sort span.pointer svg{
    margin-top:13px;
}
.sorting select{
    height: 50px;
    padding:5px 200px 5px 60px !important;
    border:1px solid #eee;
    background:none;
    position:relative;
    z-index: 2;
    display: block;
    width: 100%;
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    line-height: 1.25;
    color: #464a4c;
    background-color: none;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 2.5rem;
    -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
}
