.circle {
  width: 150px;
  height: 150px;
  border-radius: 100px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-modal {
  width: 300px;
  height: 300px;
  border-radius: 200px !important;
  margin: auto;
  background:  linear-gradient(to bottom, rgba(28,187,182,1) 0%, rgba(34,222,223,1) 100%) !important;
}

.modalButton {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.transparent .modal-content{
  background-color: transparent !important;
  border: none !important;
}

.blackFontTitle {
  color: white !important;
  margin-top: 30px;
}

.blackFontText {
  color: white !important;
  margin-top: 45px;
}

.spacer {
  margin-bottom: 40px;
}

.spacer-small {
  margin-bottom: 20px;
}

.modal-dialog {
  position: absolute;
  top: 50%;
  left: 47.5%;
  transform: translate(-50%, -50%) !important;
}

.modalRelaxed {
  text-align: center !important;
}

.button-blue {
  background-color: #6498FE !important;
}
