.rounded-button{
  border-radius: 50px !important;
}

.bottom-border-input{
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
}

.hide-overflow{
  overflow: hidden;
}

.spacer{
  margin-bottom: 40px;
}

.logo{
  width: 80%;
  margin-top: -25px;
  height: auto;
}
